/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-grid-pattern {
		background-image: linear-gradient(to right, #ffffff0f 1px, transparent 1px),
			linear-gradient(to bottom, #ffffff0f 1px, transparent 1px);
		background-size: 24px 24px;
	}
}

/* Estilização da scrollbar para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
	width: 12px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
	background-color: #0e0e12; /* Cor de fundo da track */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(90deg, #25d366 0%, #25d366 50%, #dcf8c6 100%);
	background-size: 200% 100%;
	border-radius: 10px;
	border: 2px solid #0e0e12; /* Cor da borda do thumb */
	animation: gradientScroll 3s linear infinite;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(90deg, #128c7e 0%, #25d366 50%, #dcf8c6 100%);
	background-size: 200% 100%;
	animation: gradientScroll 2s linear infinite;
}

@keyframes gradientScroll {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

/* Suporte para Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #26d466 #111826;
}

body {
	background: linear-gradient(
		135deg,
		#000000,
		#000000,
		#000603,
		#01110c,
		#010a04
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	overflow-x: hidden;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	z-index: 10;
	margin-left: 256px; /* Ajuste conforme a largura da sua sidebar */
	background-color: rgb(0, 0, 0);
	transition: margin-left 0.3s ease;
}

.header.collapsed {
	margin-left: 0;
}

.content {
	margin-top: 64px;
	flex: 1;
}

..status-active {
  border-color: #4CAF50 !important;
}

.status-paused {
  border-color: #FFC107 !important;
}

.status-inactive {
  border-color: #9E9E9E !important;
}

